<% @quotes.each do |quote| %>
  <div id="<%= quote.id %>">
    <section class="quote">
      <blockquote>
        <p><%= quote.content %></p>
      </blockquote>
      <div class="avatar-author-book">
        <img class="avatar-large" src="<%= quote.author_img %>"/>
        <div class="author-book">
          <p><cite><strong><%= quote.author %></strong></cite></p>
          <p><cite><%= quote.book %></cite></p>
        </div>
        <%= link_to quote_path(quote) do %>
          <strong><i class="fas fa-link"></i></strong>
        <% end %>
        <%#= link_to quote_path(quote),
          method: :delete,
          remote: true do %>
          <!-- <h6><i class="fas fa-trash-alt"></i></h6> -->
        <%# end %>
      </div>
    </section>
   </div>
<% end %>
